body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 5px;
}

.containerItem {
  height: 100%;
}

.vote-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
}

.vote-text {
  color: azure;
  -webkit-text-stroke: 2px black;
}
