.fire {
    font-size: 24px;
    filter: blur(0.02em);
    -webkit-filter: blur(0.02em);
    margin: 3em auto 0 auto;
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    width: 11em;
    height: 3em;
}

.champion-resting .fire {
    height: 3em;
    width: 3em;
  } 
  
  .particle {
    animation: rise 1s ease-in infinite;
    background-image: radial-gradient(#ff5000 20%, rgba(255, 80, 0, 0) 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 5em;
    height: 5em;
  }
  .particle:nth-of-type(1) {
    animation-delay: 0.325251141s;
    left: calc((100% - 5em) * 0);
  }
  .particle:nth-of-type(2) {
    animation-delay: 0.2973970242s;
    left: calc((100% - 5em) * 0.02);
  }
  .particle:nth-of-type(3) {
    animation-delay: 0.7726474795s;
    left: calc((100% - 5em) * 0.04);
  }
  .particle:nth-of-type(4) {
    animation-delay: 0.6103710641s;
    left: calc((100% - 5em) * 0.06);
  }
  .particle:nth-of-type(5) {
    animation-delay: 0.1600802638s;
    left: calc((100% - 5em) * 0.08);
  }
  .particle:nth-of-type(6) {
    animation-delay: 0.465626612s;
    left: calc((100% - 5em) * 0.1);
  }
  .particle:nth-of-type(7) {
    animation-delay: 0.448582886s;
    left: calc((100% - 5em) * 0.12);
  }
  .particle:nth-of-type(8) {
    animation-delay: 0.9406947642s;
    left: calc((100% - 5em) * 0.14);
  }
  .particle:nth-of-type(9) {
    animation-delay: 0.3256309296s;
    left: calc((100% - 5em) * 0.16);
  }
  .particle:nth-of-type(10) {
    animation-delay: 0.9407856511s;
    left: calc((100% - 5em) * 0.18);
  }
  .particle:nth-of-type(11) {
    animation-delay: 0.5235306352s;
    left: calc((100% - 5em) * 0.2);
  }
  .particle:nth-of-type(12) {
    animation-delay: 0.181737961s;
    left: calc((100% - 5em) * 0.22);
  }
  .particle:nth-of-type(13) {
    animation-delay: 0.764858472s;
    left: calc((100% - 5em) * 0.24);
  }
  .particle:nth-of-type(14) {
    animation-delay: 0.347280686s;
    left: calc((100% - 5em) * 0.26);
  }
  .particle:nth-of-type(15) {
    animation-delay: 0.8600437322s;
    left: calc((100% - 5em) * 0.28);
  }
  .particle:nth-of-type(16) {
    animation-delay: 0.4937336222s;
    left: calc((100% - 5em) * 0.3);
  }
  .particle:nth-of-type(17) {
    animation-delay: 0.5758399648s;
    left: calc((100% - 5em) * 0.32);
  }
  .particle:nth-of-type(18) {
    animation-delay: 0.5042428657s;
    left: calc((100% - 5em) * 0.34);
  }
  .particle:nth-of-type(19) {
    animation-delay: 0.5138719216s;
    left: calc((100% - 5em) * 0.36);
  }
  .particle:nth-of-type(20) {
    animation-delay: 0.1397083882s;
    left: calc((100% - 5em) * 0.38);
  }
  .particle:nth-of-type(21) {
    animation-delay: 0.5405400806s;
    left: calc((100% - 5em) * 0.4);
  }
  .particle:nth-of-type(22) {
    animation-delay: 0.314120143s;
    left: calc((100% - 5em) * 0.42);
  }
  .particle:nth-of-type(23) {
    animation-delay: 0.4287345567s;
    left: calc((100% - 5em) * 0.44);
  }
  .particle:nth-of-type(24) {
    animation-delay: 0.1156866501s;
    left: calc((100% - 5em) * 0.46);
  }
  .particle:nth-of-type(25) {
    animation-delay: 0.3947462193s;
    left: calc((100% - 5em) * 0.48);
  }
  .particle:nth-of-type(26) {
    animation-delay: 0.9355383841s;
    left: calc((100% - 5em) * 0.5);
  }
  .particle:nth-of-type(27) {
    animation-delay: 0.9817701088s;
    left: calc((100% - 5em) * 0.52);
  }
  .particle:nth-of-type(28) {
    animation-delay: 0.5989756556s;
    left: calc((100% - 5em) * 0.54);
  }
  .particle:nth-of-type(29) {
    animation-delay: 0.6656584215s;
    left: calc((100% - 5em) * 0.56);
  }
  .particle:nth-of-type(30) {
    animation-delay: 0.7491107583s;
    left: calc((100% - 5em) * 0.58);
  }
  .particle:nth-of-type(31) {
    animation-delay: 0.7569489051s;
    left: calc((100% - 5em) * 0.6);
  }
  .particle:nth-of-type(32) {
    animation-delay: 0.7873814359s;
    left: calc((100% - 5em) * 0.62);
  }
  .particle:nth-of-type(33) {
    animation-delay: 0.8361993614s;
    left: calc((100% - 5em) * 0.64);
  }
  .particle:nth-of-type(34) {
    animation-delay: 0.2555365952s;
    left: calc((100% - 5em) * 0.66);
  }
  .particle:nth-of-type(35) {
    animation-delay: 0.9667438222s;
    left: calc((100% - 5em) * 0.68);
  }
  .particle:nth-of-type(36) {
    animation-delay: 0.3677475051s;
    left: calc((100% - 5em) * 0.7);
  }
  .particle:nth-of-type(37) {
    animation-delay: 0.0043266391s;
    left: calc((100% - 5em) * 0.72);
  }
  .particle:nth-of-type(38) {
    animation-delay: 0.5907565575s;
    left: calc((100% - 5em) * 0.74);
  }
  .particle:nth-of-type(39) {
    animation-delay: 0.5501005319s;
    left: calc((100% - 5em) * 0.76);
  }
  .particle:nth-of-type(40) {
    animation-delay: 0.4144105967s;
    left: calc((100% - 5em) * 0.78);
  }
  .particle:nth-of-type(41) {
    animation-delay: 0.412156294s;
    left: calc((100% - 5em) * 0.8);
  }
  .particle:nth-of-type(42) {
    animation-delay: 0.609229457s;
    left: calc((100% - 5em) * 0.82);
  }
  .particle:nth-of-type(43) {
    animation-delay: 0.8419692196s;
    left: calc((100% - 5em) * 0.84);
  }
  .particle:nth-of-type(44) {
    animation-delay: 0.4313129922s;
    left: calc((100% - 5em) * 0.86);
  }
  .particle:nth-of-type(45) {
    animation-delay: 0.6863839733s;
    left: calc((100% - 5em) * 0.88);
  }
  .particle:nth-of-type(46) {
    animation-delay: 0.339335159s;
    left: calc((100% - 5em) * 0.9);
  }
  .particle:nth-of-type(47) {
    animation-delay: 0.7992455705s;
    left: calc((100% - 5em) * 0.92);
  }
  .particle:nth-of-type(48) {
    animation-delay: 0.1969691287s;
    left: calc((100% - 5em) * 0.94);
  }
  .particle:nth-of-type(49) {
    animation-delay: 0.5977251064s;
    left: calc((100% - 5em) * 0.96);
  }
  .particle:nth-of-type(50) {
    animation-delay: 0.3931981775s;
    left: calc((100% - 5em) * 0.98);
  }
  
  @keyframes rise {
    from {
      opacity: 0;
      transform: translateY(0) scale(1);
    }
    25% {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-10em) scale(0);
    }
  }